.login_a{
  color: $gray-dark;
  cursor: pointer;
  text-align: right;
  &:hover{
    color: $white;
  }
}
.btn-social {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  background: none;
  border:none;
  color: #ffffff;
  background: #40b4de;
  margin: 10px 35px;
  cursor: pointer;
  width: 50px;
  padding: 0;
  .social-img{
    width: 50px;
  }
}
.btn-social:hover,
.button:focus {
  background: $white;
}
.btn-social:active,
.btn-social.active {
  box-shadow: none;
  background: none;
}
.or{
  margin: 0.3em  0 0  0;
  font-size: 2em;
  color: $white;
}
.owl {
  width: 211px;
  height: 108px;
  background-image: url("../img/owl-login.png");
  position: relative;
  z-index: 5;
}
.owl .hand {
  width: 34px;
  height: 34px;
  border-radius: 40px;
  background-color: #472d20;
  transform: scaleY(0.6);
  position: absolute;
  left: 15px;
  bottom: -8px;
  transition: 0.3s ease-out;
}
.hand.password {
  transform: translateX(42px) translateY(-15px) scale(0.7);
}
.owl .hand.hand-r {
  left: 165px;
}
.owl .hand.hand-r.password {
  transform: translateX(-42px) translateY(-15px) scale(0.7);
}
.owl .arms {
  position: absolute;
  top: 58px;
  height: 41px;
  width: 100%;
  overflow: hidden;
}
.owl .arms .arm {
  width: 40px;
  height: 65px;
  background-image: url("../img/owl-login-arm.png");
  position: absolute;
  left: 20px;
  top: 40px;
  transition: 0.3s ease-out;
}
.owl .arms .arm.password {
  transform: translateX(40px) translateY(-40px);
}
.owl .arms .arm.arm-r {
  left: 158px;
  transform: scaleX(-1);
}
.owl .arms .arm.arm-r.password {
  transform: translateX(-40px) translateY(-40px) scaleX(-1);
}
.form{
  margin-top: -8px;
}

.input_group {
  display: block;
  position: relative;
  width: 100%;
  min-height: 70px;
  margin-bottom: 10px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group {
    min-height: 64px;
    margin-bottom: 0;
  }
}
.input_group label.input_label {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  cursor: text;
  padding: 0 0 0 15px;
}
.input_group label.input_label .label_text {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: .7px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group label.input_label .label_text {
    font-size: 16px;
    font-weight: 300;
  }
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group label.input_label {
    height: 64px;
  }
}
.input_group.input_empty.input_unfocused {
  color: #c1c5cc;
}
.input_group.input_focused label.input_label,
.input_group.input_hasValue label.input_label {
  height: 46px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group.input_focused label.input_label,
  .input_group.input_hasValue label.input_label {
    height: 40px;
  }
}
.input_group.input_focused label.input_label .label_text,
.input_group.input_hasValue label.input_label .label_text {
  color: #b8bdc4;
  letter-spacing: .7px;
  font-size: 11px;
}
.input_group.input_unfocused.input_hasValue.input_valid label.input_label {
  color: #b1b0b1;
}
.input_group input.input {
  display: block;
  position: relative;
  box-shadow: none;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  z-index: 1;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 18px 15px 0 15px;
  margin: 0 auto 13px auto;
  color: #363b4a;
  letter-spacing: .7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 70px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group input.input {
    font-size: 14px;
    padding: 15px 15px 0 15px;
    height: 64px;
  }
}
.input_group input.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: #cacaca;
}
.input_group i {
  top: 0;
  right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20px;
  height: 70px;
  z-index: 1000;
  position: absolute;
  z-index: 100;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group i {
    height: 64px;
  }
}
.input_group i svg {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  width: 20px;
  height: 20px;
}
.input_group i.input_error_icon {
  z-index: 10;
}
.input_group i.input_error_icon path {
  fill: #f16767;
}
.input_group i.input_valid_icon {
  z-index: 1;
}
.input_group i.input_valid_icon path {
  fill: #50b87f;
}
.input_group.input_error i.input_error_icon svg {
  opacity: 1;
}
.input_group.input_valid i.input_error_icon {
  z-index: 1;
}
.input_group.input_valid i.input_valid_icon {
  z-index: 10;
}
.input_group.input_valid.input_hasValue i.input_valid_icon svg {
  opacity: 1;
}
.error_container {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 100%;
  white-space: nowrap;
  line-height: 70px;
  width: auto;
  height: 70px;
  background: #f16767;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  color: white;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: .6px;
  user-select: none;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .error_container {
    position: relative;
    top: -13px;
    left: 0;
    line-height: 30px;
    font-size: 12px;
    padding: 0 15px 0 15px;
    font-weight: 300;
  }
}
.error_container.visible {
  transform: translateX(0px);
  opacity: 1;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .error_container.visible {
    height: 30px;
  }
}
.error_container.invisible {
  transform: translateX(-30px);
  opacity: 0;
  animation-delay: 2s;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .error_container.invisible {
    height: 0;
    line-height: 0;
    transform: translateX(0px);
  }
}
.password_validator {
  top: 0;
  left: 105%;
  position: absolute;
  display: block;
  opacity: 0;
  width: 320px;
  height: auto;
  box-sizing: border-box;
  user-select: none;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  z-index: 100;
}
.password_validator:after {
  display: block;
  position: absolute;
  top: 30px;
  left: -10px;
  content: '';
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e4e7e8;
}
.password_validator .validator_container {
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  background: #e4e7e8;
  padding: 10px 0px 10px 20px;
}
.password_validator .validator_container h4.validator_title {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin: 12px 0 5px 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #363b4a;
  opacity: .25;
  letter-spacing: 1.5px;
}
.password_validator .validator_container h4.validator_title.valid {
  color: #50b87f;
  opacity: 1;
}
.password_validator .validator_container ul.rules_list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}
.password_validator .validator_container ul.rules_list > li {
  display: block;
  position: relative;
  margin: 12px 0 12px 0;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 200;
  color: #363b4a;
}
.password_validator .validator_container ul.rules_list > li .bad_word {
  font-style: italic;
  padding: 0 5px 0 0;
}
.password_validator .validator_container ul.rules_list > li .bad_word:after {
  content: ',';
  display: inline;
}
.password_validator .validator_container ul.rules_list > li .bad_word:last-child {
  padding: 0;
}
.password_validator .validator_container ul.rules_list > li .bad_word:last-child:after {
  display: none;
}
.password_validator .validator_container ul.rules_list > li .icon_invalid {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  transform: scale(1);
  opacity: 1;
  width: 18px;
  height: 18px;
  transition: all 0.2s ease-in-out;
}
.password_validator .validator_container ul.rules_list > li .icon_invalid svg {
  opacity: 1;
  width: 18px;
  height: 18px;
}
.password_validator .validator_container ul.rules_list > li .icon_invalid svg path {
  fill: #f16767;
}
.password_validator .validator_container ul.rules_list > li .icon_valid {
  position: absolute;
  top: 1px;
  left: 0;
  transform: scale(0);
  opacity: 0;
  width: 19px;
  height: 19px;
  transition: all 0.2s ease-in-out;
}
.password_validator .validator_container ul.rules_list > li .icon_valid svg {
  opacity: 1;
  width: 19px;
  height: 19px;
}
.password_validator .validator_container ul.rules_list > li .error_message {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 0 0 0 27px;
  opacity: .9;
}
.password_validator .validator_container ul.rules_list > li.valid .icon_invalid {
  transform: scale(0);
  opacity: 0;
}
.password_validator .validator_container ul.rules_list > li.valid .icon_valid {
  transform: scale(1);
  opacity: 1;
}
.password_validator .validator_container ul.rules_list > li.valid .error_message {
  opacity: .3;
}
.password_validator.visible {
  transform: translateX(0px);
  opacity: 1;
}
.password_validator.invisible {
  transform: translateX(-15px);
  opacity: 0;
  animation-delay: 2s;
}
.is-focused .Select .Select-input > input {
  cursor: text;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.button {
  transition: all 0.2s ease-in-out;
  user-select: none;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 3px;
  background: #545a6a;
  color: #ffffff;
  font: normal normal 200 13px/40px 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 40px;
  padding: 0px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  white-space: nowrap;
}
.button.button_wide {
  display: block;
  position: relative;
  width: 100%;
  margin: 0px 0 0 0;
  height: 50px;
  font-size: 13px;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background: #40b4de;
}
.button:active,
.button.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #6bc5e6;
}
.application_wrapper {
  display: block;
  // position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  z-index: 1;
  // overflow-y: scroll;
  overflow-x: hidden;
}
.application_wrapper .create_account_screen {
  display: block;
  // position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 520px;
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out forwards;
}
.application_wrapper .create_account_screen .create_account_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px 0 200px 0;
  min-height: 400px;
}
.application_wrapper .create_account_screen .create_account_form > h1 {
  display: block;
  position: relative;
  font-size: 34px;
  letter-spacing: .8px;
  font-weight: 200;
  line-height: 34px;
  margin: 0 0 30px 0;
}
.application_wrapper .create_account_screen .create_account_form p {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: .7px;
  color: #363b4a;
  text-align: center;
  opacity: .5;
  margin: 0 0 30px 0;
}
.application_wrapper .create_account_screen .create_account_form .checkbox_group {
  display: block;
  position: relative;
  min-height: 40px;
}
.application_wrapper .create_account_screen .create_account_form .checkbox_group span {
  letter-spacing: .5px;
}
.application_wrapper .create_account_screen .create_account_form .github_link {
  display: block;
  position: relative;
  margin: 50px 0 50px 0;
  opacity: 0;
  animation: fadeIn 0.4s 0.3s ease-in-out forwards;
}
.application_wrapper .create_account_screen .create_account_form .github_link svg {
  width: 26px;
  height: 26px;
}
.application_wrapper .create_account_screen .create_account_form .github_link svg path {
  transition: all 0.2s ease-in-out;
  fill: #545a6a;
}
.application_wrapper .create_account_screen .create_account_form .github_link:hover svg path {
  fill: #40b4de;
}
.application_wrapper .create_account_screen form {
  width: 430px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .application_wrapper .create_account_screen form {
    width: 300px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
