.torrents{
  .torrent-info-row{
    margin-bottom: 10px;
  }
  .torrents-header{
    position: relative;
    .torrents-downloading {
      position: absolute;
    	right: 0px;
    	top: 1px;
    	margin: 9px;
    	font-size: 0.75rem;
    	color: $gray-light;
    }
  }
  .torrent-name {
    font-size: 0.9em;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .torrent-hash {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .torrent-status {
    display: inline-block;
    font-size: 0.9em;
    color: $gray-light;
  }
  .torrent-download-icon{
    width: 15px;
    margin-left: 5px;
  }
  .torrent-downloading-icon{
    width: 18px;
    cursor: pointer;
    // margin-left: 5px;
  }
  .torrent-icon {
    width: 12px;
    margin: 1px 5px 5px;
  }
  .torrent-zip{
    background: darken($green, 12);
  }
  .torrent-action{
    padding: 7px 9px 7px 9px;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: 0.8em;
    @media (max-width: 544px){
      span{
        display: none;
      }
    }
  }
  .torrent-stop{
    background: $red;
  }
  table {
    width: 100%;
  }
  td {
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      font-size: 0.8em;
      color: $gray;
  }
  td.table-file {
      width: 70%;
      font-size: 0.9em;
    @media (max-width: 544px){
      width: 30%;
    }
  }
  td.table-search {
    width: 70%;
    font-size: 0.9em;
    text-align: justify;
    @media (max-width: 544px){
      width: 30%;
    }
  }
  .torrent-download{
    width: 50px;
  }
  .torrent-search-status{
    text-align: right;
    .torrent-seed {
      color: $green;
    }
    .torrent-leech {
      color: $red;
    }
  }
  .torrent-search {
    max-height: 200px;
  }
}
