.shortner {
    margin-top: 20px;
    animation: fadeIn 0.3s ease-in;
}

.shortner-link {
    margin-top: 50px;
    animation: fadeIn 0.5s ease-in;
}

.shortner_h1 {
    color: $secondary;
    margin: 10px 0;
}

.youtube-li {
    cursor: pointer;
}

.youtube-heading {
    font-size: 0.8em;
}

.youtube-side-img {
    width: 100px;
}

button:focus {
    outline: 0;
}

.button_center {
    // width: 30%;
    margin: auto 35% 10px 40%;
    @media (max-width: 544px) {
        margin-left: 25%;
        margin-right: 30%;
    }
}

.onlineUsers {
    position: absolute;
    top: 12px;
    right: -25px;
}

.indicator {
    background: $main;
    color: $white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: -15px 0 0 -15px;
    text-align: center;
    width: 25px;
}

.twitter {
    margin-top: 50px;

    .tweet {
        text-align: left;
        animation: fadeIn 0.3s ease-in;
    }
}

.padding-top {
    padding-top: 20px;
}
.padding {
    padding: 20px;
}
.margin {
    margin: 20px;
}
.display-none {
    display: none;
}
.pointer{
  cursor: pointer;
}
.rename{
  background-color: $gray-lightest;
}
.view {
  padding-top: 10px;
  width: 25px;
  cursor: pointer;
}
td {
  cursor: pointer;
}
.card {
  background-color: $white;
}
