    /*
    Flaticon icon font: Flaticon
    Creation date: 22/09/2016 17:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-draw:before { content: "\f100"; }
.flaticon-file:before { content: "\f101"; }
.flaticon-file-1:before { content: "\f102"; }
.flaticon-folder:before { content: "\f103"; }
.flaticon-folder-2:before { content: "\f104"; }
.flaticon-interface:before { content: "\f105"; }
.flaticon-link:before { content: "\f106"; }
.flaticon-multimedia:before { content: "\f107"; }
.flaticon-music:before { content: "\f108"; }
.flaticon-photo:before { content: "\f109"; }
.flaticon-square:before { content: "\f10a"; }
.flaticon-torrent:before { content: "\f10b"; }
.flaticon-twitter:before { content: "\f10c"; }
    
    $font-Flaticon-draw: "\f100";
    $font-Flaticon-file: "\f101";
    $font-Flaticon-file-1: "\f102";
    $font-Flaticon-folder: "\f103";
    $font-Flaticon-folder-2: "\f104";
    $font-Flaticon-interface: "\f105";
    $font-Flaticon-link: "\f106";
    $font-Flaticon-multimedia: "\f107";
    $font-Flaticon-music: "\f108";
    $font-Flaticon-photo: "\f109";
    $font-Flaticon-square: "\f10a";
    $font-Flaticon-torrent: "\f10b";
    $font-Flaticon-twitter: "\f10c";