.arrow-down{

}
.dropdowns {
    display: none;
    position: absolute;
    right: 1px;
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    padding: 0;
  li{
    list-style: none;
    padding: 5px 20px;
    &:hover{
      background-color: $gray-lighter;
    }
  }
  a{
    text-decoration: none;
  }
}
.avatar:hover > ul{
  display:inherit;
}
.dropdown {
    min-width:170px;
    display:list-item;
    position: relative;
}
