.upload-file-list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    position: relative;
    border: 1px solid #b9b9b9;
    height: 100%;

    .upload-file {
        position: relative;
        list-style: none;
        height: 35px;
        line-height: 35px;
        margin: 0;
        vertical-align: bottom;
        // background-color: coral;
        border-top: 1px solid #ddd;
    }

    .upload-progress-bar {
        width: 0;
        height: 35px;
        background-color: lighten($secondary, 20%);
    }

    .upload-file-info {
        overflow: hidden;
        vertical-align: baseline;
        border-collapse: collapse;
        width: 100%;
        height: 35px;
        position: absolute;
        top: 0;
        left: 0;
        // background-color: lighten($secondary, 33%);
    }

    .filename-col {
        float: left;
        width: 350px;
        // background-color: pink;
        .upload-filename {
            color: lighten($gray, 10%);
            font-weight: 500;
            margin: 0 5px;
        }

        .upload-size {
            color: $gray-light;
        }
    }

    .status-col {
        float: right;
        margin: 5px 10px;
        // background-color: coral;
    }
}

.dropzone {
    background-color: lighten($secondary, 30%);
    padding: 25% 0;
    border: 1px dashed $secondary;

    &:hover {
        background-color: lighten($secondary, 25%);
    }

    label {
        width: 100%;
        cursor: pointer;
        color: $main;
        text-align: center;

        &:hover {
            color: darken($main, 10%);
        }
    }

    figure {
        padding: 40px;
        border-radius: 50%;
        margin: 0 auto 10px;
        background-color: $main;
        width: 150px;
        height: 150px;

        &:hover {
            background-color: darken($main, 10%);
        }
    }

    svg {
        width: 100%;
        height: 100%;
        fill: lighten($secondary, 50%);
    }
}

.dropzone-active {
    background-color: lighten($secondary, 20%);
    border: 1px solid $secondary;
}

.dropzone-wrapper {
    padding: 0;
    // background-color: pink;
}

.box-2 {
    // background-color: cyan;
}

.box-main {
    // background-color: aquamarine;
    height: 100%;
}
