.dropdowns {
    display: none;
    position: absolute;
    top: 55px;
    right: 1px;
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    padding: 0;
    z-index: 1;

    li {
        list-style: none;
        padding: 5px 20px;
        background-color: $white;

        &:hover {
            background-color: $gray-lighter;
        }
    }

    a {
        text-decoration: none;
    }
}

.avatar:hover > ul {
    display: inherit;
}

.dropdowns:hover {
    display: block;
}
