.modal_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparentize($black, 0.9);
    z-index: 20;
    animation: fadeIn 0.3s linear;
}

.modal {
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    border: 1px solid $gray-lighter;
    background: $white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: block;
    z-index: 99;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    animation: slideInUp 0.3s linear;
}
@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
